tools/bundler/Configuration/Global/BundleActionTypes.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bundleActionTypeConfiguration" nillable="true" type="BundleActionTypeConfiguration" />
  <xs:complexType name="BundleActionTypeConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="bundleActionTypes" type="ArrayOfBundleActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBundleActionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bundleActionType" nillable="true" type="BundleActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BundleActionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CaptionKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EditorTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>